* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo 2", sans-serif;
}

/* Header start */
.custom_container {
  width: 70rem;
  background-color: transparent !important;
  margin: auto;
}

.navbar {
  background-color: transparent !important;
}


.logo{
	width: 5rem;
}
.logo img{
	width: 100%;
}
/* Header end */

/* Round Buttons*/
.round-shapes-menu {
  display: flex;
  gap: 15px;
  /* Spacing between buttons */
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 25px;
  /* Makes the button oval */
  text-decoration: none;
  font-size: 16px;
  color: #333333;
  background-color: #f0f0f0;
  /* Light background for round shape */
  transition: background-color 0.3s, color 0.3s;
}

.menu-item img {
  margin-right: 8px;
  height: 20px;
}

.menu-item:hover {
  background-color: #08323D;
  /* Hover color */
  color: #ffffff;
}

.menu-item:active {
  background-color: #08323D;
  /* Clicked color */
  color: #ffffff;
}






.img {
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img img{
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 2/2;
  width: 100%;
  cursor: pointer;
}





/* Footer Sections */
.gap-10 {
  gap: 2rem;
}

.gap-2 {
  gap: 1rem;
}

li {
  list-style-type: none;
}

li {
  cursor: pointer;
}
.card .card_img {
  width: 90%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: all 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: transparent;
}
.card .card_img:hover {
  transform: scale(1.1);
}
